.elements {
  max-width: 880px;
  margin: auto;
}

.elements__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 0;
  list-style: none;
}

.card {
  width: 280px;
  position: relative;
}

.card__trash {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.card__trash:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.card__description {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.card__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  padding: 20px 5px 20px 20px;
  margin: 0;
  color: black;
  background-color: white;
  font-size: 20px;
}

.card__like-button {
  border: none;
  background-color: white;
  margin-right: 15px;
  background: transparent url("../images/like.svg") center no-repeat;
  transition: transform 0.2s;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__like-black {
  background: transparent url(../images/likelleno.svg) no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .elements {
    margin-left: 70px;
    margin-right: 70px;
  }

  .elements__card {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 290px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .elements {
    margin-left: 20px;
  }
  .elements__card {
    grid-template-columns: 1fr;
  }
  .card {
    width: 275px;
  }
}
